*.aux
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.fls
*.fdb_latexmk
referensi/*/*.pdf
referensi/*/*.lyx
referensi/*/*.odt
referensi/lainnya
*.lyx~
slide/*/*.pdf
*.ods#
*.odg#
*.odt#
*.odp#
referensi/*.pdf
referensi/*/*/*.pdf
referensi/*/*/*/*.pdf
*.epub
*.7z
*-eps-converted-to.pdf
.gitignore
slide/2023/pertemuan_01/pertemuan_01.pdf
slide/2023/pertemuan_02/pertemuan_02.pdf
slide/2023/pertemuan_03/pertemuan_03.pdf
*.idea
*.vrb
.spyproject
